@charset "utf-8";
@import "./variables.scss";


*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

// html,
// body {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   padding: 0;
//   // font-size: 3vmin;
// }

// html {
//   background: #151515;
//   color: #fff;
//   overflow: hidden;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }


.home-container {
  // width: 100%;
  height: 100%;
  transition: opacity .8s ease-out 0.5s;
  // justify-content: center;
  // padding-top: 20rem;
  // padding-bottom: 10rem;
  // font-size: 3vmin;
  // transition: opacity 0.7s ease-in-out 0.3s;
  transition-delay: 0.5s;
}

.slides {
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 6rem;
    width: 5rem;
    height: 10rem;
    top: 30%;
    transition: opacity 0.2s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -30%;
    }
    &:last-child {
      right: -30%;
    }
  }
}

.slide {
  //transform-style: preserve-3d;
  // border: solid 1px red;

  // &[data-active] {
  //   .slideContent > * {
  //     transform: none;
  //     opacity: 1;
  //   }
  // }

}

.slideContent {
  width: 35vw;
  height: 40vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.2rem 1rem #000;
  opacity: 0;

  .slideSubtitle,
  .slideTitle {
    color: white;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 1rem;;
    opacity: 0.9;
    background: transparent;
  }

  .slideSubtitle::before {
    content: "— ";
  }

  .slideTitle {
    font-size: 1.5rem;
    margin: 1rem;
    opacity: 0.8;
  }

  .slideDescription {
    margin: 1rem;
    margin: 20;
    color: white;
    opacity: 1;
    font-size: 1rem;
    letter-spacing: 0.2ch;
  }
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;

  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;
    color: white;

    transform: perspective(1000px);

    &:hover {
      transition: transform 0.1s ease-in-out;
      transform: perspective(1000px)
        rotateX(calc(var(--y) * -5deg))
        rotateY(calc(var(--x) * 15deg));
    }
  }
}
